body {
  margin: 0 auto;
  width: 1235px;
  height: auto;
  background: #0079BF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

body * {
  box-sizing: border-box;
}

a {
	color: inherit;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 21px;
}

@media screen and (max-width: 480px) {
  body {
    width: auto;
  }
}